@media screen and (max-width: 425px) {
  .main__content {
    font-size: 90%;
  }

  .quote__title {
    font-size: 1.5em;
  }

  .quote {
    font-size: 2em;
    width: 90%;
  }

  .footer__content span {
    font-size: 14px;
  }
}
